body {
  padding: 0;
  margin: 0;
  width: 100vw;
  box-sizing: border-box;
  font-family: sans-serif;
  background: #282a35;
  color: #eee;
  overflow-x: hidden;
  /* this should delete and add footer to add margin bottom */
  margin-bottom: 50px;
}
